/* ==font== */
/* ==color== */
/* ==utilities== */
/* ==border== */
/* ==shadow== */
/* ==background== */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&family=Rubik:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  background: #d9d9d9 !important;
  min-height: 100%;
  overflow-x: hidden; }

*::selection {
  background: #530162 !important;
  color: #fff;
  text-shadow: none; }

@keyframes rgb-bar {
  0% {
    background-position: 400% 0%; }
  100% {
    background-position: 0% 400%; } }

@keyframes shadow-btn {
  0% {
    box-shadow: 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000;
    transform: translateX(0) translateY(0); }
  100% {
    box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000, 5px 5px #000, 6px 6px #000, 7px 7px #000, 8px 8px #000;
    transform: translateX(-8px) translateY(-8px); } }

@keyframes scroll {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-250px * 13)); } }

@keyframes scroll-r {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-150px * 13)); } }

@keyframes scroll-r-r {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-140px * 13)); } }

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

#header__container {
  background: #262626; }

.header__responsive-logo {
  display: none; }

#header__search-bar input {
  width: 80%;
  height: 33px;
  border: 1px solid #fff;
  border-radius: 0.25rem;
  text-indent: 10px; }
  #header__search-bar input:focus {
    outline: none; }

#header__search-bar button {
  width: 33px;
  height: 33px;
  margin-left: 1%;
  border: none;
  border-radius: 0.25rem;
  background-image: linear-gradient(45deg, #530162 0%, #8b23ce 50%, #c825f4 100%);
  background-size: 100% 100%; }

.social-login__container {
  display: none; }

.rgb-bar {
  background: linear-gradient(45deg, red 0%, magenta 18%, blue 30%, cyan 45%, lime 65%, yellow 80%, #ff7b00 90%, red 100%);
  background-size: 400% 400%;
  animation: rgb-bar 15s linear infinite;
  height: 4px; }

#header__nav-bar {
  background: #000000; }

#navbar-responsive div a {
  color: #fff;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  font-size: 1.2em; }
  #navbar-responsive div a:hover {
    background: #2c2c2c; }

#navbar-responsive div #navbar-mid-button {
  background: radial-gradient(circle farthest-side at center center, #530162 0%, #8b23ce 50%, #c825f4 100%);
  clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
  transition: transform .4s;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 1.2em; }
  #navbar-responsive div #navbar-mid-button:hover {
    transform: scale(1.2); }

#footer-container {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.9) 10%, #6c0090 40%, #b600a8 70%, #fbc4e9 100%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "refund mid-text work" "refund mid-text work";
  justify-items: center;
  align-items: center; }
  #footer-container .footer__refund-text {
    grid-area: refund;
    color: #ff0000;
    display: block;
    width: 22vw;
    background: #000;
    position: relative;
    display: block;
    padding: 15px 0;
    margin: 2.5rem auto;
    text-align: center;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    border: 2px solid #4b4b4b; }
    #footer-container .footer__refund-text .footer__refund-text:hover {
      color: #ff0000;
      border: 2px solid #fff;
      text-decoration: underline;
      transition: border .3s; }
  #footer-container .footer__work-w-us-text {
    grid-area: work;
    color: #fff;
    display: block;
    width: 22vw;
    background: #000;
    position: relative;
    display: block;
    padding: 15px 0;
    margin: 2.5rem auto;
    text-align: center;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    border: 2px solid #4b4b4b; }
    #footer-container .footer__work-w-us-text .footer__work-w-us-text:hover {
      color: #fff;
      border: 2px solid #fff;
      text-decoration: underline;
      transition: border .3s; }
  #footer-container .footer__mid-text {
    grid-area: mid-text;
    text-align: center;
    color: #fff;
    font-size: 1em;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 20px 0;
    width: 100%; }
    #footer-container .footer__mid-text .footer__span-0 {
      font-weight: 600;
      display: block; }
    #footer-container .footer__mid-text .footer__span-1 {
      font-size: 80%;
      padding: 10px 0;
      display: block; }

#index-container h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 1.2em;
  margin: 80px 0 10px 0; }

#carousel-news__indicators button {
  width: 60px;
  height: 5px;
  margin: 0 10px; }

#news__arrow {
  width: auto;
  background: #000000;
  opacity: 1; }

.prod-indicators {
  top: 200px; }

.prod-container, .last-prod-container {
  width: 80%;
  height: auto;
  margin: 0 auto 50px auto;
  border: 1px solid #cc00ff; }

#carousel-prod__indicators {
  top: 110%;
  height: 15px;
  margin: 0; }
  #carousel-prod__indicators button {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin: 0 5px;
    border: none; }

.prod__card {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 320px 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "prod-img prod-tittle prod-tittle" "prod-img prod-price prod-price" "prod-img . view-button";
  transition: all .5s ease;
  background: #fff; }
  .prod__card img {
    grid-area: prod-img;
    max-width: 100%;
    width: 300px;
    align-self: center;
    justify-self: center; }
  .prod__card h6 {
    grid-area: prod-tittle;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 3em;
    align-self: center;
    padding-left: 15px;
    text-align: start; }
  .prod__card div {
    grid-area: prod-price;
    position: relative;
    margin-left: 25px; }
    .prod__card div h4 {
      font-family: "Roboto", sans-serif;
      font-size: 2.4em;
      font-weight: 300;
      margin: 0;
      padding: 0;
      text-align: start;
      display: block;
      position: relative; }
      .prod__card div h4 .badge {
        background: #00b309;
        font-size: 0.8em; }
  .prod__card a {
    grid-area: view-button;
    align-self: end;
    justify-self: end;
    padding: 15px;
    margin: 0 30px 30px 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    border: 1px solid #000;
    background: linear-gradient(351deg, black 0%, #bd00e4 100%); }
    .prod__card a:hover {
      animation: shadow-btn 0.2s ease-in both;
      color: #fff; }

#prod__prev-arrow {
  left: -6%; }

#prod__next-arrow {
  right: -6%; }

.categories-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "processor ssd monitor" "processor vid-amd ram" "case vid-amd vid-nvidia" "power-supply motherboard vid-nvidia";
  width: 80%;
  height: 700px;
  margin: auto;
  gap: 15px; }
  .categories-container div {
    border-radius: 0.8rem;
    padding: 10px;
    text-align: center;
    transform: all .3s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: end; }
    .categories-container div:hover {
      animation: shadow-btn 0.2s ease-in both;
      border: 1px solid #000; }
    .categories-container div img {
      opacity: 0.7;
      max-width: 90%;
      max-height: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .categories-container div h6 {
      font-family: "Roboto", sans-serif;
      color: #000;
      font-size: 1.2em;
      font-weight: 600;
      position: relative; }
    .categories-container div a {
      font-family: "Roboto", sans-serif;
      color: #530162;
      text-decoration: none;
      position: relative; }

.categories__processor {
  grid-area: processor; }

.categories__ssd {
  grid-area: ssd; }

.categories__monitor {
  grid-area: monitor; }

.categories__ram {
  grid-area: ram; }

.categories__vid-amd {
  grid-area: vid-amd; }

.categories__vid-nvidia {
  grid-area: vid-nvidia; }

.categories__case {
  grid-area: case; }

.categories__motherboard {
  grid-area: motherboard; }

.categories__power-supply {
  grid-area: power-supply; }

.brands-container {
  width: 100%;
  height: 160px;
  margin: 0 auto 80px auto;
  overflow: hidden; }

.brands__slider {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: calc(250px * 26);
  height: 100%;
  animation: scroll 30s linear infinite; }
  .brands__slider div {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background: #fff; }

/* ==header== */
@media screen and (max-width: 992px) {
  #main-logo {
    display: none; }
  .header__responsive-logo {
    display: block !important;
    width: 80%;
    margin: 10px auto; }
  #main-social-login {
    display: none; }
  .social-login__container {
    display: block;
    width: 90%;
    margin: auto; }
  #header__search-bar {
    width: 100% !important; }
  #header__nav-bar {
    height: 4em;
    width: 100vw;
    z-index: 100000; }
    #header__nav-bar div button {
      background: url("https://api.iconify.design/fontisto/nav-icon-a.svg?color=white") no-repeat center center/contain;
      margin-left: 1em; }
  #navbar-responsive {
    background: rgba(0, 0, 0, 0.93);
    position: absolute;
    top: 4em;
    width: 100vw;
    height: auto;
    z-index: 100000;
    transition: all .5s linear; }
    #navbar-responsive a {
      width: 90%;
      font-size: 1.8em !important;
      padding: 15px 0 !important;
      margin: 5px auto;
      clip-path: none !important;
      background: rgba(63, 63, 63, 0.5) !important; }
      #navbar-responsive a:last-child {
        margin-bottom: 33px; } }

@media screen and (max-width: 576px) {
  .header__responsive-logo {
    width: 100%; }
  .header__bar {
    width: 85%; }
  #responsive-social-login {
    margin-left: 0 !important;
    margin-right: 0 !important; } }

/* ==footer== */
@media screen and (max-width: 992px) {
  #footer-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "refund mid-text" "work mid-text";
    row-gap: 20px; }
    #footer-container .footer__refund-text {
      margin: 20px 0 0 0;
      width: 80%;
      line-height: 1em; }
    #footer-container .footer__work-w-us-text {
      margin: 0 0 20px 0;
      width: 80%;
      line-height: 1em; }
    #footer-container .footer__mid-text {
      border-right: none;
      height: 93%; } }

@media screen and (max-width: 576px) {
  footer button a {
    font-size: 1em; } }

/* ==error-page== */
@media screen and (max-width: 576px) {
  .error-page__tittle {
    font-size: 1.8em;
    padding: 10px; }
  .error-page__text {
    font-size: 1em; }
  .error-page__img {
    width: 300px; } }

/* ==index== */
@media screen and (max-width: 992px) {
  .prod-container, .last-prod-container {
    width: 90%; }
  #carousel-prod__indicators {
    height: 15px; }
    #carousel-prod__indicators button {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin: 0 20px;
      border: none; }
  .categories-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 200px);
    width: 90%;
    height: 100%;
    grid-template-areas: "processor processor" "ssd monitor" "vid-amd vid-amd" "case ram" "vid-nvidia vid-nvidia" "power-supply motherboard"; }
  .brands-container {
    height: 150px; }
  .brands__slider {
    width: calc(180px * 26);
    animation: scroll-r 30s linear infinite; }
    .brands__slider div {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      margin: 0 25px; } }

@media screen and (max-width: 768px) {
  .prod__card {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "prod-tittle" "prod-img" "prod-price" "view-button";
    height: auto; }
  #carousel-prod__indicators {
    height: 20px;
    justify-content: space-around; }
    #carousel-prod__indicators button {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin: 0;
      border: none; }
  .prod__card img {
    width: 250px; }
  .prod__card h6 {
    font-size: 1.8em;
    text-align: center;
    margin: 15px 0; }
  .prod__card div h4 {
    font-size: 1.6em;
    margin: 0 auto;
    text-align: center; }
  .prod__card a {
    margin: 20px 10px 10px 0; }
  .categories-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 200px);
    width: 80%;
    height: 100%;
    grid-template-areas: "processor" "ssd" "monitor" "vid-amd" "vid-nvidia" "case" "ram" "power-supply" "motherboard"; }
  .brands-container {
    height: 120px; }
  .brands__slider {
    width: calc(140px * 26);
    animation: scroll-r-r 30s linear infinite; }
  .brands__slider div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 20px; } }

/* ==hardware-y-perifericos== */
@media screen and (max-width: 992px) {
  #main-navbar {
    margin: 40px auto 0 auto;
    width: 40%;
    border: 1px solid #000;
    box-shadow: var(--main-box-shadow);
    background: #fff !important; }
    #main-navbar button {
      display: block;
      width: 100%;
      height: auto;
      font-family: 'Rubik', sans-serif;
      font-weight: 600;
      font-size: 1.3em;
      border-radius: 0;
      border-bottom: 1px solid #000; }
      #main-navbar button:focus {
        box-shadow: none; }
  #navbar-style {
    border: none; }
  #navbar-tittle {
    display: none; } }

@media screen and (max-width: 576px) {
  #main-navbar {
    width: 75%; } }

/* ==arma-tu-pc== */
@media screen and (max-width: 576px) {
  #arma-tu-pc-container h4 {
    font-size: 1.8em;
    margin-bottom: 20px; }
  #arma-tu-pc-container p {
    font-size: .8em;
    font-weight: 600;
    margin-bottom: 20px; }
  #arma-tu-pc-container img {
    width: 100%;
    margin: 5px auto; } }

/* ==sucursales== */
@media screen and (max-width: 992px) {
  #sucursales-container iframe {
    width: 70vw;
    height: 50vh; }
  #sucursales-container h6 {
    font-size: 1.1em; } }

/* ==contacto== */
@media screen and (max-width: 576px) {
  #form-container form h4 {
    font-size: 1.6em;
    margin: 10px 0; }
  #form-container form button {
    width: 30%; } }
