#items-navbar *{
    border-radius: 0;
    font-family: $main-font;
}

#items-navbar{
    position: sticky;
    top: 10vh;
    margin:40px 40px 0 20px;
    z-index: 5000;
        #navbar-toggler{
            background: map-get($color, gray-m);
                button{
                    h2{
                        color: #fff;
                        font-weight: $fw-3;
                    }
                    h6{
                        font-size: $fs-xs;
                        color: #cccccc;
                    }
                }
        }
        h2{
            font-size: $fs-xl;
            font-weight: $fw-6;
            width: 100%;
            text-align: start;
            border-bottom: 2px solid map-get($color, purple-m);
        }
        a{
            color: #fff;
            text-decoration: none;
            font-size: $fs-s;
            border-bottom: 1px solid map-get($color, gray-m)-detail;
            transition: $bg-transition;
                &:hover{
                    background: map-get($color, gray-m)-detail-d;
                }
                &:last-child{
                    border: none;
                }
        }
        .dropdown-toggle::after{
            transform: rotate(-90deg);
        }
        ul{
            width: 100%;
            margin: 0;
            position: relative;
            border: none;
            padding: 0;
            border-bottom: 1px solid map-get($color, gray-m)-detail;
                li{
                    background: map-get($color, purple-m);
                    border-bottom: 1px solid map-get($color, purple-l);
                        &:last-child{
                            border-bottom: none;
                        }
                    a{
                        color: #fff;
                        font-size: $fs-s;
                            &:active, &:focus{
                                background: map-get($color, purple-l);
                            }
                            &:hover{
                                background: map-get($color, purple-d) ;
                            }
                    }
                }
        }
}
