#index-container h2{
    font-family: $sec-font;
    font-weight: $fw-6;
    text-align: center;
    font-size: $fs-m;
    margin: 80px 0 10px 0;
}

#carousel-news__indicators{
    button{
        width: 60px;
        height: 5px;
        margin: 0 10px;
    }
}

#news__arrow-next{
    width: auto;
    background: $bg-black;
    opacity: 1;
}

#news__arrow-prev{
    @extend #news__arrow-next;
}

.prod-indicators{
    top: 200px;
}

.prod-container, .last-prod-container{
    @include index-prods-containers-style;
}

#carousel-prod__indicators{
    top: 110%;
    height: 15px;
    margin: 0;
        button{
            width: 13px;
            height: 13px;
            border-radius: $border-r-l;
            margin: 0 5px;
            border: none;
        }
}

.prod__card{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 320px 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "prod-img prod-title prod-title"
        "prod-img prod-price prod-price"
        "prod-img . view-button";
    transition: all .5s ease;
        .prod__card__img-container{
            height: 300px;
            margin: 20px;
            grid-area: prod-img;
            align-self: center;
            justify-self: center;
                img{
                    height: 90%;
                    @include pos-center
                }
        }
        
        .prod__title{
            grid-area: prod-title;
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            font-size: 3em;
            align-self: center;
            padding-left: 15px;
            text-align: start;
        }
        div{
            grid-area: prod-price;
            position: relative;
            margin-left: 25px;
                .prod__price{
                    font-family: $sec-font;
                    font-size: $fs-xl;
                    font-weight: $fw-3;
                    margin: 0 0 15px 0;
                    padding: 0;
                    text-align: start;
                    display: block;
                    position: relative;
                        .badge{
                            background: map-get($color, green-m);
                            font-size: $fs-xs;
                        }
                }
        }
        a{
            grid-area: view-button;
            align-self: end;
            justify-self: end;
            padding: 15px;
            margin: 0 30px 30px 0;
            font-family: $sec-font;
            font-size: $fs-m;
            text-decoration: none;
            color: #000;
            @extend .inputs-style;
            background: #fff;
            font-weight: $fw-6;
            transition: 0.2s;
                &:hover{
                    color: #000;
                    box-shadow: $pink-box-shadow;
                }
        }
}

.prod__prev-arrow{
    left: -6% !important; 
}

.prod__next-arrow{
    right: -6% !important;
}

.categories-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "processor ssd monitor"
        "processor vid-amd ram"
        "case vid-amd vid-nvidia"
        "power-supply motherboard vid-nvidia";
    width: $w-80;
    height: 700px;
    margin: auto;
    gap: 20px;
        div{
            border-radius: $border-r-m;
            padding: 10px;
            text-align: center;
            transition: transform .3s;
            box-shadow: $basic-box-shadow;
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            justify-content: end;
            background: #fff;
                &:hover{
                    transform: scale(1.03);
                }
                img{
                    opacity: 0.5;
                    max-width: 90%;
                    max-height: 90%;
                    @include pos-center;
                    object-fit: contain;
                }
                h4{
                    font-family: $sec-font;
                    color: #000;
                    font-size: $fs-m;
                    font-weight: $fw-6;
                    position: relative;
                }
                a{
                    font-family: $sec-font;
                    color: #000;
                    text-decoration: none;
                    position: relative;
                    display: block;
                    width: 60%;
                    padding: 6px 0;
                    margin: 0 auto;
                    border-radius: $border-r-s;
                    border: $border-p;
                    background: #fff;
                    @include pink-glow-hover
                }
        }
}

.categories__processor{
    grid-area: processor;
}

.categories__ssd{
    grid-area: ssd;
}

.categories__monitor{
    grid-area: monitor;
}

.categories__ram{
    grid-area: ram;
}

.categories__vid-amd{
    grid-area: vid-amd;
}

.categories__vid-nvidia{
    grid-area: vid-nvidia;
}

.categories__case{
    grid-area: case;
}

.categories__motherboard{
    grid-area: motherboard;
}

.categories__power-supply{
    grid-area: power-supply;
}

.brands-container{
    width: 100%;
    height: 160px;
    margin: 0 auto 80px auto;
    overflow: hidden;
}

.brands__slider{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: calc(250px * 26);
    height: 100%;
    animation: scroll 30s linear infinite;
        div{
            width: 150px;
            height: 150px;
            margin: 0 50px;
            box-shadow: $basic-box-shadow;
            border-radius: $border-r-l;
            background: #fff;
            overflow: hidden;
            @include flex-center;
                &:nth-child(7), &:nth-child(12), &:nth-child(20), &:nth-child(25){
                    background: #000;
                }
                &:nth-child(8), &:nth-child(21){
                    background: #0071c5;
                }
                img{
                    object-fit: contain;
                    width:90%;
                    height: 90%;
                }
        }
}



