#carousel-prod-viewer{
    width: 70%;
    margin: auto;
        #carousel-prod-viewer__prev{
            left: -13%;
        }
        #carousel-prod-viewer__next{
            right: -13%;
        }
}

#prod-info-container{
    font-family: $sec-font;
    font-size: $fs-l;
        h2{
            font-family: $main-font;
            font-size: $fs-xl;
            border-bottom: 2px solid map-get($color, purple-m)
        }
        #prod-price-container{
            p{
                border-bottom: 1px solid map-get($color, gray-l);
                margin-top: 6px;
                    span{
                        opacity: .5;
                    }
            }
        }
        #prod-service-container{
            margin: 25px 0;
                p{
                    font-size: $fs-xs;
                    color: map-get($color, green-m);
                }
        }
        #prod-button-container{
            @include flex-center;  
                button{
                    @extend .inputs-style;
                    font-size: $fs-xs;
                        @include pink-glow-hover;
                        a{
                            color: #000;
                            text-decoration: none;
                        }
                }
        }
}

.prod-specs{
    font-family: $sec-font;
    font-size: $fs-s;
    text-align: center;
    display: block;
}