#sucursales-container{
    width: $w-80;
    background: $w-pink-background;
    box-shadow: $basic-box-shadow;
        h1{
            font-family: $main-font;
            font-size: $fs-l;
            font-weight: $fw-6;
            padding: 15px 20px;
            animation-delay: 1s;
            text-align: center;
            width: auto;
            margin: auto;
        }
        iframe{
            width: 30vw;
            height: 40vh;
            box-shadow: $basic-box-shadow;
            border-radius: $border-r-m;
            margin: 10px;
        }
        h4{
            font-family: $main-font;
            font-size: $fs-s;
            font-weight: $fw-6;
            text-align: center;
        }
}
