.form-container{
    select{
        border: $border-p;
            &:focus{
                border: $border-p !important;
            }
    }
    option{
        background: map-get($color, purple-m);
        color: #fff;
    }
}

/* ????==cambiar el color del option seleccionado==????  */

#w-w-us-file-picker{
    height: auto !important;
    border: $border-p;
}