*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    background: #eeeeee !important;
    min-height: 100%;
    overflow-x: hidden;
}

*::selection{
    background: map-get($color, purple-m) !important;
    color: #fff;
    text-shadow: none;
}