@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&family=Rubik:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    background: #d9d9d9 !important;
    min-height: 100%;
    overflow-x: hidden;
}

*::selection{
    background: #530162 !important;
    color: #fff;
    text-shadow: none;
}

:root{
    --color-box-shadow: 1px 1px rgb(40, 0, 63), 2px 2px rgb(68, 0, 100), 3px 3px rgb(126, 17, 189), 4px 4px rgb(155, 1, 216), 5px 5px rgb(223, 14, 223), 6px 6px rgb(225, 0, 255), 7px 7px rgb(212, 0, 255), 8px 8px rgb(204, 0, 255);
    --black-box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000, 5px 5px #000, 6px 6px #000, 7px 7px #000, 8px 8px #000;
    --white-background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(139,0,186,0.8169642857142857) 100%);
    --color-background: linear-gradient(351deg, rgba(0,0,0,1) 0%, rgba(189,0,228,1) 100%);
    --secondary-box-shadow: 0 1px 2px rgba(0,0,0,0.6);
    --color-border: 1px solid #cc00ff;
}

/* ====header==== */

#header__container{
    background: #262626;
}

.header__responsive-logo{
    display: none;
}

.header__bar{
    width: 75%;
    height: 33px;
    border: 1px solid white;
    border-radius: 5px;
    text-indent: 10px;
}

.header__bar:focus{
    outline: none;
}


.header__search-btn{
    width: 33px;
    height: 33px;
    margin-left: 1%;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #530162 0%, #8b23ce 50%, #c825f4 100%);
    background-size: 100% 100%;
}


.rgb-bar{
    background: linear-gradient(45deg, rgb(255,0,0) 0%, rgb(255,0,255) 18%, rgb(0,0,255) 30%, rgb(0,255,255) 45%, rgb(0,255,0) 65%, rgb(255,255,0) 80%, rgb(255, 123, 0) 90%, rgb(255,0,0) 100%);
    background-size: 400% 400%;
    animation: rgb-bar 15s linear infinite;
    height: 4px;
}

@keyframes rgb-bar {
    0%{
        background-position: 400% 0%;
    }

    100%{
        background-position: 0% 400%;
    }
}

#header__nav-bar{
    background: #000;
}

#nav-link{
    color: #fff;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    font-size: 1.2em;  
}

#nav-link:hover{
    background: rgb(44, 44, 44);
    transition: background .3s;
}

#navbar-mid-button{
    background: radial-gradient(circle farthest-side at center center, #530162 0%, #8b23ce 50%, #c825f4 100%);
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    transition: transform .4s;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
}

#navbar-mid-button:hover{
    transform: scale(1.2);
}

.social-login__container{
    display: none;
}

@media screen and (max-width: 992px){
    #main-logo{
        display: none;
    }

    .header__responsive-logo{
        display: block;
        width: 80%;
        margin: 10px auto;
    }

    #main-social-login{
        display: none !important;
    }

    .social-login__container{
        display: block;
        width: 90%;
        margin: auto;
    }

    #header__search-nav-bar{
        width: 100% !important;
    }

    #header__nav-bar{
        height: 4em;
        width: 100vw;
        z-index: 100000;  
    }

    #header__nav-bar div button{
        background: url('https://api.iconify.design/fontisto/nav-icon-a.svg?color=white') no-repeat center center / contain;
        margin-left: 1em;
    }

  

    #navbar-responsive{
        background: rgba(0,0,0,0.93);
        position: absolute;
        top: 4em;
        width: 100vw;
        height: auto;
        z-index: 100000;
        transition: all .5s linear;
    }

    #navbar-responsive a{
        width: 93%;
        font-size: 1.8em !important;
        padding: 15px 0 !important;
        margin: 5px auto;
        background: rgba(63, 63, 63, 0.5);
    }

    #navbar-responsive a:last-child{
        margin-bottom: 33px;
    }
}

@media screen and (max-width: 576px){
    .header__responsive-logo{
        width: 100%;
    }

    .header__bar{
        width: 85%;
    }

    #responsive-social-login{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

}

/* ====footer==== */

#footer-container{
    background: linear-gradient(45deg,rgba(0,0,0,0.9) 10%, #6c0090 40%, #b600a8 70%, #fbc4e9 100%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "refund mid-text work"
        "refund mid-text work";
    justify-items: center;
    align-items: center;
}

.footer__refund-text{
    grid-area: refund;
    color: #ff0000;
    display: block;
}

.footer__refund-text:hover{
    color: #ff0000;
}

.footer__work-w-us-text{
    grid-area: work;
    color: #fff;
    display: block;
}

.footer__work-w-us-text:hover{
    color: #fff;
}

.footer__refund-text, .footer__work-w-us-text{
    width: 22vw;
    background: #000;
    position: relative;
    display: block;
    padding: 15px 0;
    margin: 2.5rem auto;
    text-align: center;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    border: 2px solid #4b4b4b;
}

.footer__refund-text:hover, .footer__work-w-us-text:hover{
    border: 2px solid #fff;
    text-decoration: underline;
    transition: border .3s;
}

.footer__mid-text{
    grid-area: mid-text;
    text-align: center;
    color: #fff;
    font-size: 1em;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 20px 0;
    width: 100%;
}

.footer__span-0{
    font-weight: 600;
    display: block;
}

.footer__span-1{
    font-size: 80%;
    padding: 10px 0; 
    display: block;
}

@media screen and (max-width: 992px){
    #footer-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "refund mid-text"
            "work mid-text";
        row-gap: 20px
    }

    .footer__refund-text{
        margin: 20px 0 0 0;
    }

    .footer__work-w-us-text{
        margin: 0 0 20px 0;
    }

    .footer__refund-text, .footer__work-w-us-text{
        width: 80%;
        line-height: 1em;
    }
    
    .footer__mid-text{
        border-right: none;
    }
}

@media screen and (max-width: 576px){
    footer button a{
        font-size: 1em;
    }

}

/* ====error-page==== */

#error-page-container{
    background-image: url(../media/technical-difficulties-bg.jpg);
    background-size: 100% 100%;
    padding: 33px 0;
}

.error-page__tittle{
    font-size: 3em;
    text-transform: uppercase;
    background: #fff;
    padding: 15px 30px;
    margin: 0 33px;
    border: 1px solid #000;
    box-shadow: var(--main-black-box-shadow);
}

.error-page__text{
    font-size: 1.5em;
    background: #fff;
    margin: 33px;
    padding: 15px 10px;
    border: 1px solid #000;
    box-shadow: var(--main-black-box-shadow);
}

.error-page__img{
    width: 500px;
    max-width: 100%;
    padding: 33px;
    background: #fff;
    border: 1px solid #000;
    box-shadow: var(--main-black-box-shadow);
}

@media screen and (max-width: 576px){
    .error-page__tittle{
        font-size: 2em;
        padding: 10px;
    }

    .error-page__text{
        font-size: 1em;
    }

    .error-page__img{
        width: 300px;
    }
}

/* ====index==== */

#index-container h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 1.2em;
    margin: 80px 0 10px 0;
}

#carousel-news__indicators button{
    width: 60px;
    height: 5px;
    margin: 0 10px;
}

#news__arrow{
    width: auto;
    background: #000;
    opacity: 1;
}

.prod-indicators{
    top: 200px;
}

.prod-container, .last-prod-container{
    width: 80%;
    height: auto;
    margin: 0 auto 50px auto;
    border: var(--color-border);
}

#carousel-prod__indicators button{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin: 0 5px;
    border: none;
}

#carousel-prod__indicators{
    top: 110%;
    height: 15px;
    margin: 0;
}

.prod__card{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 320px 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "prod-img prod-tittle prod-tittle"
        "prod-img prod-price prod-price"
        "prod-img . view-button";
    transition: all .5s ease;
    background: #fff;
}

.prod__card img{
    grid-area: prod-img;
    max-width: 100%;
    width: 300px;
    align-self: center;
    justify-self: center;
}

.prod__tittle {
    grid-area: prod-tittle;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 3em;
    align-self: center;
    padding-left: 15px;
    text-align: start;
}

.prod__price{
    grid-area: prod-price;
    position: relative;
    margin-left: 25px;
}

.prod__price h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.2em;
    margin: 0;
    padding: 0;
    text-align: start;
    display: block;
    position: relative;
}

.prod__card .badge{
    background: #00b309;
    font-size: .6em;
}

.prod__card a{
    grid-area: view-button;
    align-self: end;
    justify-self: end;
    padding: 15px;
    margin: 0 30px 30px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    border: 1px solid #000;
    background: var(--color-background);
}

.prod__card a:hover{
    animation: shadow-btn 0.2s ease-in both;
    color: #fff;
}

@keyframes shadow-btn {
    0% {
        box-shadow: 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000;
        transform: translateX(0) translateY(0);
      }
      100% {
        box-shadow: var(--color-box-shadow);
        transform: translateX(-8px) translateY(-8px);
      }
}

#prod__prev-arrow{
    left: -6%; 
}

#prod__next-arrow{
    right: -6%;
}

.categories-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "processor ssd monitor"
        "processor vid-amd ram"
        "case vid-amd vid-nvidia"
        "power-supply motherboard vid-nvidia";
    width: 80%;
    height: 700px;
    margin: auto;
    gap: 15px;
}

.categories-container > div{
    border-radius: .8em;
    padding: 10px;
    text-align: center;
    transition: all .3s;
    box-shadow: var(--secondary-box-shadow);
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
}

.categories-container > div:hover{
    animation: shadow-btn 0.2s ease-in both;
    border: 1px solid rgba(0,0,0,0.6);
}

.categories-container div h6{
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 1.2em;
    font-weight: 600;
}

.categories-container div a{
    font-family: 'Roboto', sans-serif;
    color: #6c0090;
    text-decoration: none;
}

.categories-container h6, .categories-container a{
    position: relative;
}

.categories__processor{
    grid-area: processor;
}

.categories__ssd{
    grid-area: ssd;
}

.categories__monitor{
    grid-area: monitor;
}

.categories__ram{
    grid-area: ram;
}

.categories__vid-amd{
    grid-area: vid-amd;
}

.categories__vid-nvidia{
    grid-area: vid-nvidia;
}

.categories__case{
    grid-area: case;
}

.categories__motherboard{
    grid-area: motherboard;
}

.categories__power-supply{
    grid-area: power-supply;
}

.categories-container img{
    position: absolute;
    opacity: 0.7;
    max-width: 90%;
    max-height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.brands-container{
    width: 100%;
    height: 160px;
    margin: 0 auto 80px auto;
    overflow: hidden;
}

.brands__slider{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: calc(250px * 26);
    height: 100%;
    animation: scroll 30s linear infinite;
}

.brands__slider div{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 50px;
    box-shadow: var(--secondary-box-shadow);
    background-color: white;
}

@keyframes scroll{
    0%{transform: translateX(0);}

    100%{transform: translateX(calc(-250px * 13));}
}

@media screen and (max-width: 992px){
    .prod-container, .last-prod-container{
        width: 90%;
    }

    #carousel-prod__indicators{
        height: 15px;
    }

    #carousel-prod__indicators button{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin: 0 20px;
        border: none;
    }

    .categories-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 200px);
        width: 90%;
        height: 100%;
        grid-template-areas:
            "processor processor"
            "ssd monitor"
            "vid-amd vid-amd"
            "case ram"
            "vid-nvidia vid-nvidia"
            "power-supply motherboard";   
    }

    .brands-container{
        height: 150px;
    }
    
    .brands__slider{
        width: calc(180px * 26);
        animation: scroll-r 30s linear infinite;
    }
    
    .brands__slider div{
        width: 130px;
        height: 130px;
        border-radius: 50%;
        margin: 0 25px;

    }

    @keyframes scroll-r{
        0%{transform: translateX(0);}
    
        100%{transform: translateX(calc(-150px * 13));}
    }

}

@media screen and (max-width: 768px){
    .prod__card{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "prod-tittle"
            "prod-img"
            "prod-price"
            "view-button";
        height: auto;
    }
    

    #carousel-prod__indicators{
        height: 20px;
        justify-content: space-around;
    }

    #carousel-prod__indicators button{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 0;
        border: none;
    }

    .prod__card img{
        width: 250px;
    }

    .prod__tittle{
        font-size: 2em;
        text-align: center;
        margin: 15px 0;
    }

    .prod__price{
        font-size: 1.3em;
        margin: 0 auto;
        text-align: center;
    }

    .prod__card a{
        margin: 20px 10px 10px 0;
    }

    .categories-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 200px);
        width: 80%;
        height: 100%;
        grid-template-areas:
            "processor"
            "ssd"
            "monitor"
            "vid-amd"
            "vid-nvidia"
            "case"
            "ram"
            "power-supply"
            "motherboard";   
    }

    .brands-container{
        height: 120px;
    }
    
    .brands__slider{
        width: calc(140px * 26);
        animation: scroll-r-r 30s linear infinite;
    }
    
    .brands__slider div{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 20px;

    }

    @keyframes scroll-r-r{
        0%{transform: translateX(0);}
    
        100%{transform: translateX(calc(-140px * 13));}
    }

}

/* ====hardware-y-perifericos==== */

#main-navbar{
    position: sticky;
    top: 10vh;
    margin:40px 40px 0 20px;
    z-index: 5000;
    background-color: transparent !important;
}

#navbar-tittle{
    background: var(--color-background);
    color: #fff;
    margin-bottom: 20px;
    padding: 10px 0 !important;
    box-shadow: var(--black-box-shadow);
}

#responsive-navbar-tittle{
    background: var(--color-background);
}

#responsive-navbar-tittle h2{
    color: #fff;
}

#main-navbar h2{
    font-family: 'Rubik', sans-serif;
    font-size: 2em;
    text-align: center;
    margin-bottom: 0;
}

#main-navbar h6{
    font-family: 'Rubik', sans-serif;
    font-size: 0.8em;
    text-align: center;
    color: #cccccc;
}

#main-navbar ul{
    width: 100%;
}

#main-navbar ul li{
    background: #fff;
    width: 100%;
    background: #262626;
}

#main-navbar li a{
    color: #000;
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
    font-size: 1.2em;
    border-bottom: var(--color-border);
    color: white;
}

#last-item{
    border-bottom: none !important;
}

#navbar-style{
    border: var(--color-border);
}

#hw-equipos-pre-armados, #pf-parlantes{
    border-bottom: none;
}

#prods-container{
    padding: 40px 30px;
    z-index: 4000;
}

#navbar-dropend-style{
    border-radius: none;
}

#navbar-dropend-style li{
    background: linear-gradient(90deg, rgba(151,0,186,1) 50%, rgba(0,0,0,1) 100%) !important;
    overflow-x: hidden;
}

#navbar-dropend-style li a:hover, #navbar-dropend-style li a:focus{
    background: #530162 !important;
}

#navbar-dropend-style li a{
    color: #fff;
    border-bottom: var(--color-border);
    padding-left: 13% !important;
}

#prods-container h3{
    font-size: 1.6em;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    text-align: center;
    margin: 30px 0;
    padding: 0.4em 0;
    text-decoration: solid #530162;
}

#prods-container h3:first-child{
    margin-top: 0;
}

#item-card{
    box-shadow: var(--secondary-box-shadow);
}

#item-card h4, #item-card h5, #item-card a{
    font-family: 'Roboto', sans-serif;
}

#item-card h4{
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 10px;
}

#item-card h5{
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
    margin: 20px 0;
}

#item-card .badge{
    background: #00b309 !important;
}

@media screen and (max-width: 992px){
    #main-navbar{
        margin: 40px auto 0 auto;
        width: 40%;
        border: 1px solid #000;
        box-shadow: var(--main-box-shadow);
        background: #fff !important;    
    }

    #main-navbar button{
        display: block;
        width: 100%;
        height: auto;
        font-family: 'Rubik', sans-serif;
        font-weight: 600;
        font-size: 1.3em;
        border-radius: 0;
        border-bottom: 1px solid #000;
    }

    #main-navbar button:focus{
        box-shadow: none;
    }

    #navbar-style{
        border: none;
    } 

    #navbar-tittle{
        display: none;
    }
}

@media screen and (max-width: 576px){
    #main-navbar{
        width: 75%;
    }
}

/* ====arma-tu-pc==== */

#arma-tu-pc-container{
    background: #fff;
    padding: 33px 50px;
    box-shadow: var(--secondary-box-shadow);
    width: 80%;
}

#arma-tu-pc-container h4{
    font-family: 'Rubik', sans-serif;
    font-size: 2.4em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 33px -1%;
}

#arma-tu-pc-container p{
    font-family: 'Rubik', sans-serif;
    border: 1px solid black;
    font-size: 1.2em;
    padding: 20px 0 20px 15px;
    margin: 10px auto 33px auto;
    text-align: left;
    display: block;
    animation: shadow-btn .4s ease both;
    animation-delay: 1s;
}

#arma-tu-pc-container img{
    width: 90%;
    height: auto;
    display: block;
    margin: 15px auto;
}

@media screen and (max-width: 576px){
    #arma-tu-pc-container h4{
        font-size: 1.8em;
        margin-bottom: 20px;
    }

    #arma-tu-pc-container p{
        font-size: .8em;
        font-weight: 600;
        margin-bottom: 20px;
    }

    #arma-tu-pc-container img{
        width: 100%;
        margin: 5px auto;
    }
}

/* ====sucursales==== */

#sucursales-container{
    width: 80vw;
}

#sucursales-container h4{
    font-family: 'Rubik', sans-serif;
    font-size: 1.4em;
    padding: 15px 20px;
    animation: shadow-btn .4s ease both;
    animation-delay: 1s;
    text-align: center;
    background-color: #fff;
    border: 1px solid #000;
    width: auto;
    margin: auto;
}

#sucursales-container iframe{
    width: 30vw;
    height: 40vh;
    box-shadow: var(--secondary-box-shadow);
    border-radius: .8em;
    margin: 10px;
}

#sucursales-container h6{
    font-family: 'Rubik', sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    text-align: center;
}

@media screen and (max-width: 992px){ 
    #sucursales-container iframe{
        width: 70vw;
        height: 50vh;
    }

    #sucursales-container h6{
        font-size: 1.1em;
    }

}

/* ====contacto==== */

#form-container{
    width: 80vw;
    height: auto;
    margin: 90px auto;
    background: linear-gradient(45deg,#cc00ff 0%, #e7e7e7 60%);
    box-shadow: var(--main-box-shadow);
    border: 1px solid #000;
}

#form-container input:focus, #form-container textarea:focus, #form-container select:focus{
    border-color: transparent !important;
    box-shadow: none !important;
}

#inputs-style{
    border: 1px solid #cc00ff;
    border-radius: 0.25rem;
}

#form-container form h4{
    font-size: 2em;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    padding: 20px;
    margin: 20px 0;
    animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-delay: .3s;
}

#form-container >*{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}

#form-container form input{
    height: 3em;
}

#form-container form button{
    width: 25%;
    height: 2.5em;
    display: block;
    margin: auto;
    border: 1px solid #cc00ff;
    border-radius: 0.25rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

@media screen and (max-width: 576px){
    #form-container form h4{
        font-size: 1.6em;
        margin: 10px 0;
    }

    #form-container form button{
        width: 30%;
    }
}

/* ====work-w-us==== */

#form-container select{
    border: 1px solid #cc00ff;
}

#form-container select:focus{
    border: 1px solid #cc00ff !important;
}

#form-container option{
    background: #530162;
    color: white;
}

/* ????==cambiar el color del option seleccionado==????  */

#w-w-us-file-picker{
    height: auto !important;
    border: 1px solid #cc00ff;
}