@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&family=Rubik:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    background: #d9d9d9 !important;
    min-height: 100%;
    overflow-x: hidden;
}

/* ====header==== */

#header__container{
    background: #262626;
}

.header__bar{
    width: 75%;
    height: 33px;
    border: 1px solid white;
    border-radius: 5px;
    text-indent: 10px;
}

.header__bar:focus{
    outline: none;
}


.header__search-btn{
    width: 33px;
    height: 33px;
    margin-left: 1%;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #530162 0%, #8b23ce 50%, #c825f4 100%);
    background-size: 100% 100%;
}


.rgb-bar{
    background: linear-gradient(45deg, rgb(255,0,0) 0%, rgb(255,0,255) 18%, rgb(0,0,255) 30%, rgb(0,255,255) 45%, rgb(0,255,0) 65%, rgb(255,255,0) 80%, rgb(255, 123, 0) 90%, rgb(255,0,0) 100%);
    background-size: 400% 400%;
    animation: rgb-bar 8s linear infinite;
    height: 4px;
}

@keyframes rgb-bar {
    0%{
        background-position: 400% 0%;
    }

    100%{
        background-position: 0% 400%;
    }
}

#header__nav-bar{
    background: #000;
}

#header__nav-bar div a{
    color: #fff;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    border-right: 1px solid #4b4b4b; 
    font-size: 1.2em;  
}

#header__nav-bar div a:last-child{
    border: none;
}

#header__nav-bar div a:hover{
    background: rgb(44, 44, 44);
    transition: background .3s;
    border: none;
    outline: 1px solid #000;
}

/* ====footer==== */

#footer-container{
    background: linear-gradient(45deg,rgba(0,0,0,0.9) 10%, #6c0090 40%, #b600a8 70%, #fbc4e9 100%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "refund mid-text work"
        "refund mid-text work";
    justify-items: center;
    align-items: center;
}

.footer__refund-text{
    grid-area: refund;
    color: #ff0000;
    display: block;
}

.footer__refund-text:hover{
    color: #ff0000;
}

.footer__work-w-us-text{
    grid-area: work;
    color: #fff;
    display: block;
}

.footer__work-w-us-text:hover{
    color: #fff;
}

.footer__refund-text, .footer__work-w-us-text{
    width: 22vw;
    background: #000;
    position: relative;
    display: block;
    padding: 15px 0;
    margin: 2.5rem auto;
    text-align: center;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    border: 2px solid #4b4b4b;
}

.footer__refund-text:hover, .footer__work-w-us-text:hover{
    border: 2px solid #fff;
    text-decoration: underline;
    transition: border .3s;
}

.footer__mid-text{
    grid-area: mid-text;
    text-align: center;
    color: #fff;
    font-size: 1em;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 20px 0;
    width: 100%;
}

.footer__span-0{
    font-weight: 600;
    display: block;
}

.footer__span-1{
    font-size: 80%;
    padding: 10px 0; 
    display: block;
}

@media screen and (max-width: 992px){
    #footer-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "refund mid-text"
            "work mid-text";
        row-gap: 20px
    }

    .footer__refund-text{
        margin: 20px 0 0 0;
    }

    .footer__work-w-us-text{
        margin: 0 0 20px 0;
    }

    .footer__refund-text, .footer__work-w-us-text{
        width: 80%;
        line-height: 1em;
    }
    
    .footer__mid-text{
        border-right: none;
    }
}

/* ====index==== */

#main-container h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 1.2em;
    margin: 80px 0 10px 0;
}

.prod-indicators{
    top: 200px;
}

.prod-container, .last-prod-container{
    width: 80%;
    height: 350px;
    margin: 0 auto 50px auto;
    box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000, 5px 5px #000, 6px 6px #000, 7px 7px #000, 8px 8px #000;
    border: 1px solid #000;
}

#carousel-prod__indicators button{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin: 0 5px;
    border: none;
}

#carousel-prod__indicators{
    top: 370px;
    height: 15px;
    margin: 0;
}

.prod__card{
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: 320px 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "prod-img prod-tittle prod-tittle"
        "prod-img prod-price prod-price"
        "prod-img . view-button";
    transition: all .5s ease;
    
}

.prod__card img{
    grid-area: prod-img;
    max-width: 100%;
    width: 300px;
    align-self: center;
    justify-self: center;
}

.prod__tittle {
    grid-area: prod-tittle;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 3em;
    align-self: center;
    padding-left: 15px;
    text-align: start;
}

.prod__price{
    grid-area: prod-price;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.2em;
    text-align: start;
    margin-left: 20px;
    display: block;
    align-self: center;
}

.prod__card .badge{
    background: #00b309;
    font-size: 1.3rem;
}

.prod__card a{
    grid-area: view-button;
    align-self: end;
    justify-self: end;
    padding: 15px;
    margin: 0 30px 30px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
}

.prod__card a:hover{
    animation: shadow-btn 0.2s ease-in both;
    color: #000;
}

@keyframes shadow-btn {
    0% {
        box-shadow: 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000;
        transform: translateX(0) translateY(0);
      }
      100% {
        box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000, 5px 5px #000, 6px 6px #000, 7px 7px #000, 8px 8px #000;
        transform: translateX(-8px) translateY(-8px);
      }
}

#prod__prev-arrow{
    left: -12%; 
}

#prod__next-arrow{
    right: -12%;
}

.categories-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "processor ssd monitor"
        "processor vid-amd ram"
        "case vid-amd vid-nvidia"
        "power-supply motherboard vid-nvidia";
    width: 80%;
    height: 700px;
    margin: auto;
    gap: 15px;
}

.categories-container > div{
    border-radius: .8em;
    padding: 10px;
    text-align: center;
    transition: all .3s;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

.categories-container > div:hover{
    animation: shadow-btn 0.2s ease-in both;
    border: 1px solid rgba(0,0,0,0.6);
}

.categories-container div h6{
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 1.2em;
    font-weight: 600;
}

.categories-container div a{
    font-family: 'Roboto', sans-serif;
    color: #6c0090;
    text-decoration: none;
}

.categories__processor{
    grid-area: processor;
}

.categories__ssd{
    grid-area: ssd;
}

.categories__monitor{
    grid-area: monitor;
}

.categories__ram{
    grid-area: ram;
}

.categories__vid-amd{
    grid-area: vid-amd;
}

.categories__vid-nvidia{
    grid-area: vid-nvidia;
}

.categories__case{
    grid-area: case;
}

.categories__motherboard{
    grid-area: motherboard;
}

.categories__power-supply{
    grid-area: power-supply;
}

.brands-container{
    width: 100%;
    height: 160px;
    margin: 0 auto 80px auto;
    overflow: hidden;
}

.brands__slider{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: calc(250px * 26);
    height: 100%;
    animation: scroll 30s linear infinite;
}

.brands__slider div{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 50px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    background-color: white;
}

@keyframes scroll{
    0%{transform: translateX(0);}

    100%{transform: translateX(calc(-250px * 13));}
}